In [4]:
from sklearn.preprocessing import MinMaxScaler
%run enc_ohe.ipynb

def minMax():
    dataSet = ohe()
    
    # Applying Standard Scaler
    # Num_cols
    cols = ['tenure', 'monthlyCharges', 'totalCharges']
    scaler = MinMaxScaler()
    dataSet[cols] = scaler.fit_transform(dataSet[cols])
    
    dataSet.info()
    dataSet[cols].describe()
    print(dataSet[cols])

    return dataSet
        
dataSet = minMax()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   seniorCitizen                            7043 non-null   int64
 1   partner                                  7043 non-null   int64
 2   dependents                               7043 non-null   int64
 3   tenure                                   7043 non-null   float64
 4   phoneService                             7043 non-null   int64
 5   multipleLines                            7043 non-null   int64
 6   onlineSecurity                           7043 non-null   int64
 7   onlineBackup                             7043 non-null   int64
 8   deviceProtection                         7043 non-null   int64
 9   techSupport                              7043 non-null   int64
 10  streamingTV                              7043 non-null   int64
 11  streamingMovies                          7043 non-null   int64
 12  paperlessBilling                         7043 non-null   int64
 13  monthlyCharges                           7043 non-null   float64
 14  totalCharges                             7043 non-null   float64
 15  churn                                    7043 non-null   int64
 16  gender_Female                            7043 non-null   int64
 17  gender_Male                              7043 non-null   int64
 18  internetService_DSL                      7043 non-null   int64
 19  internetService_Fiber_optic              7043 non-null   int64
 20  internetService_No                       7043 non-null   int64
 21  contract_Month-to-month                  7043 non-null   int64
 22  contract_One_year                        7043 non-null   int64
 23  contract_Two_year                        7043 non-null   int64
 24  paymentMethod_Bank_transfer_(automatic)  7043 non-null   int64
 25  paymentMethod_Credit_card_(automatic)    7043 non-null   int64
 26  paymentMethod_Electronic_check           7043 non-null   int64
 27  paymentMethod_Mailed_check               7043 non-null   int64
dtypes: float64(3), int64(25)
memory usage: 1.5 MB
        tenure  monthlyCharges  totalCharges
0     0.013889        0.115423      0.003437
1     0.472222        0.385075      0.217564
2     0.027778        0.354229      0.012453
3     0.625000        0.239303      0.211951
4     0.027778        0.521891      0.017462
...        ...             ...           ...
7038  0.333333        0.662189      0.229194
7039  1.000000        0.845274      0.847792
7040  0.152778        0.112935      0.039892
7041  0.055556        0.558706      0.035303
7042  0.916667        0.869652      0.788101

[7043 rows x 3 columns]